In [18]:
name = "Northampton_LowerFarm"
lat = -0.863234
lon = 52.186673


name = "Northampton_VillageField"
lat = -0.857858
lon = 52.180197

name = "Northampton_BackField"
lat = -0.861633
lon = 52.171719


name = "Northampton_Stockings"
lat = -0.843442
lon = 52.175186


name = "Northampton_HillGrounds"
lat = -0.851119
lon = 52.162229

name = "Northampton_HillGrounds_S"
lat = -0.848992
lon = 52.160463
from get_albedo import *

alldata = []
obs = Observations("albedo_allfields.sql")
for year in xrange(2004, 2016):
    print year
    x = obs.query(year, name, lat, lon)
    alldata.append(x)
    #print x

2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015

IndexError: index 49 is out of bounds for axis 0 with size 49